@charset "UTF-8";
/* Nút Dropdown*/
.nut_dropdown {
    color: rgb(0, 0, 0);
    border: none;
    display: inline-block;
    height: 50px;
    background-color: white;
}

  /* Thiết lập vị trí cho thẻ div với class dropdown*/
.my-dropdown {
    position: relative;
    display: inline-block;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.clearfix::after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
 }


.noi-dung{
    min-height: 600px;
    display: none;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 0px;
}

.noi-dung ul li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin: 20px 100px;
}

.navbar-cus ul li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin: 0px 10px;
    background-color: white;
}

.navbar-cus{
    margin-bottom: -16px;
}

.noi-dung a{
    text-decoration: none;
    color: #a4a4a4;
}

.noi-dung a:hover{
    text-decoration: none;
    color: black;
}

.logo{
 margin-right: 30%;
}

.navbar-cus ul li:hover {
    border-bottom: 3px solid black;
}




